name: Publish Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Login to docker-hub
      run:  docker login --username=${{ secrets.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build the Docker image
      run: docker build -t a7medayman6/e-voting-voting-service:latest ./voting-service; 
      
    - name: Push to registry
      run: docker push a7medayman6/e-voting-voting-service:latest